@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background: linear-gradient(135deg, #282c34, #3a3f47);
  color: #fff;
  padding: 20px;
  animation: fadeIn 1s ease-in-out;
}

header {
  text-align: center;
  margin-bottom: 30px;
  padding: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

h1 {
  font-size: 2.8em;
  animation: fadeIn 1s ease-in-out;
  text-shadow: 0 0 20px rgba(0, 255, 204, 0.9); /* Cambiado a azul */
  color: #00FFCC; /* Color del título */
}

.content {
  background: rgba(50, 50, 50, 0.8);
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.content:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 2.2em;
  margin-bottom: 10px;
  position: relative;
  text-shadow: 0 0 10px rgba(0, 255, 204, 0.8); /* Cambiado a azul */
  color: #00FFCC; /* Color del subtítulo */
}

h2::after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  background: #007BFF;
  margin-top: 10px;
  transition: width 0.5s ease;
}

h2:hover::after {
  width: 120px;
}

p {
  margin: 15px 0;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.audio-controls {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

footer {
  text-align: center;
  margin-top: 30px;
  position: relative;
  padding: 20px;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
}

button {
  background: linear-gradient(90deg, #007BFF, #0056b3);
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
  font-size: 1.2em;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

button:hover {
  background: linear-gradient(90deg, #0056b3, #003f7f);
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
  transform: scale(1.05);
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.2em;
  }

  h2 {
    font-size: 1.8em;
  }

  .content {
    padding: 15px;
  }

  button {
    width: 100%;
    padding: 15px;
    font-size: 1em;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
